[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Larch
Comment=
Categories=Application;Development
Exec=/opt/larch/run/larch
Icon=larch
Terminal=false
StartupNotify=true
